<div id="main_frame">

<h2>Connexion</h2>

<% if flash[:alert] %>
  <p id="notice" ><%= flash[:alert] %></p>
<% end %>


<%= render "form" %>


<p>
  <strong>Pas encore inscrit ?</strong> Rejoins vite la première communauté de vanneurs en France grâce à <%= link_to "notre formulaire d'inscription", new_membre_path %> super simple !
</p>

</div>