<div class="row-fluid" style="padding-bottom:10px;">
  <div class="span4">
  <%= link_to image_tag("avatar.png", :alt => membre.pseudo), membre, :class => "thumbnail" %>
  </div>
  
  <div class="span8">
    <p>
    <%= link_to membre.pseudo, membre %> 
    <% if membre.admin %><small>Admin</small><% end %>
    <br />
    <%= membre.vannes_count %> vannes - <%= membre.lols_count %> lols
    </p>
  </div>
</div>