<div id="main_frame">

<h1>Modifier mon profil</h1>

<%= render 'form' %>

<%= link_to 'Supprimer mon compte', @membre, :confirm => 'Attention ! La suppression de ton compte est une décision irréversible. Tes vannes seront cependant conservées sous le nom \'Anonyme\'. Es-tu sûr de vouloir continuer ?', :method => :delete %>

</div>