<div id="main_frame">

<h1>Liste des vanneurs</h1>

<table>
  <tr>
    <th>Pseudo</th>
  </tr>

<% @membres.each do |membre| %>
  <tr>
    <td><%= link_to membre.pseudo, membre %></td>
  </tr>
<% end %>
</table>

<br />

Si toi aussi, tu rêves de devenir un vanneur célèbre, <%= link_to 'inscris-toi', new_membre_path %> !

</div>