<div id="main_frame">

<h1>Tous les vanneurs</h1>

<table style="width:100%;">
  <tr>
    <th>Pseudo</th>
    <th>Vannes postées</th>
    <th>Lols récoltés</th>
  </tr>

<% @membres.each do |membre| %>
  <tr>
    <td><%= link_to membre.pseudo, membre %></td>
    <td><%= membre.vannes.count %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

Si toi aussi, tu rêves de devenir un vanneur célèbre, <%= link_to 'inscris-toi', new_membre_path %> !

</div>