<div id="main_frame">

<h1>Envie de rejoindre notre communauté ?</h1>

<p>
  Rejoindre la communauté <em>C'est un mec</em>, c'est pouvoir poster encore plus de vannes, suivre celles qui marchent le mieux, partager tes vannes favorites, et surtout rencontrer d'autres vanneurs encore plus drôles que toi !
</p>

<%= render 'form' %>

</div>