<div id="main_frame">

<h2>Profil de <%= @membre.pseudo %></h2>

<p id="notice"><%= notice %></p>

<p>
  FIXME
</p>

<% if @membre == @current_membre %>
<%= link_to 'Modifier', edit_membre_path(@membre) %>
<% end %>

</div>