<div id="main_frame">

<h2>Profil de <%= @membre.pseudo %></h2>

<p id="notice"><%= notice %></p>


<h3>Ses vannes</h3>

<% @vannes.each do |vanne| %>
  <%= render :partial => 'vannes/vanne', :locals => {:vanne => vanne} %>
<% end %>

<% if @membre == @current_membre %>
  <%= link_to 'Editer mon profil', edit_membre_path(@membre) %>
<% end %>

</div>