<blockquote>
  <p><%= vanne.contenu %></p>
  
  <% c = vanne.lols_count.to_i
    if c > 10
      vanne_text = 'L' + c.to_s + 'O' + 'L'
    elsif c > 0
      vanne_text = 'L' + 'O'*c + 'L'
    else
      vanne_text = 'Sois le premier à dire LOL !'
    end
    class_btn = ""
    if @current_membre.nil?
      class_btn = "disabled"
    elsif @current_membre && vanne.lols.where("membre_id = ?",@current_membre.id).any?
      class_btn = "disabled btn-success"
    end
    %>
    
  <%= link_to vanne_text, vanne_lols_path(vanne), :method => :post, :remote => true, :class => "btn btn-mini pull-right "+class_btn %>
  
  <small>
    <%= link_to vanne.membre.pseudo, vanne.membre, :rel => "popover", :title => vanne.membre.pseudo, :data => { :content => vanne.membre.vannes_count.to_s+" vannes - "+vanne.membre.lols_count.to_s+" lols" } %> - 
    <time><%= link_to vanne.created_at.strftime("le %d/%m/%Y à %H:%M"), vanne %></time>
  </small>
</blockquote>