<h1>Modifier une vanne</h1>

<%= form_for(@vanne) do |f| %>
  <% if @vanne.errors.any? %>
    <div id="error_explanation">
      <h2>Whoops !! Il y a quelques problèmes ...</h2>

      <ul>
      <% @vanne.errors.each do |field, msg| %>
	<li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :contenu, :rows => 5, :autofocus => "autofocus" %>
  </div>
  
  <div class="action">
    <%= f.submit 'Mettre à jour', :class => "btn btn-primary" %>
  </div>
<% end %>
