<div id="new_vanne_scroll">
  
  <h2><%= link_to 'Envie de poster ta propre vanne ?', "#", :id => "new_vanne_scroll_trigger" %></h2>
  
  <div id="new_vanne_scroll_hidden">
    <%= render 'form' %>
  </div>
</div>

<script>
  var trigger_new = document.getElementById('new_vanne_scroll_trigger');
  var hidden_new = document.getElementById('new_vanne_scroll_hidden');

  trigger_new.addEventListener('click', function(e) {
      e.preventDefault();
      if (hidden_new.style.display == 'block') {
	hidden_new.style.display = 'none';
      }
      else {
	hidden_new.style.display = 'block';
      }
  }, false);
</script>



<% @vannes.each do |vanne| %>
  <%= render :partial => 'vanne', :locals => {:vanne => vanne} %>
<% end %>


<% if @vannes_count > (params[:page].to_i + 1) * 10 %>
<div id="plus_vannes_scroll">
  <strong><%= link_to 'Encore plus de vannes ...', :order => params[:order], :page => params[:page].to_i + 1 %></strong>
</div>
<% end %>
