<% if @vannes.count > 0 %>

  <% @vannes.each do |v| %>
    $('#plus_vannes').before("<%= escape_javascript(render(:partial => "vannes/vanne", :locals => {:vanne => v})) %>");
  <% end %>

  $('#plus_vannes > a').attr('href', "<%= vannes_path(:order => params[:order], :page => params[:page].to_i + 1, :q => params[:q]) %>");
  
<% else %>
  
  $('#plus_vannes > a').replaceWith('<span class="btn btn-large disabled">Fin des vannes :(</span>')

<% end %>

init_toggle_lol(); 