<% if params[:order]
    case params[:order]
      when 'best' %>
	<div class="page-header">
	  <h1>Lol of Fame <small>Les meilleures de tous les temps</small></h1>
	</div>
      <% when 'rand' %>
	<div class="page-header">
	  <h1>Random Vanne <small>Des vannes, au hasard</small></h1>
	</div>
      <% when 'last' %>
	<div class="page-header">
	  <h1>Direct-vannes <small>Les dernières vannes postées</small></h1>
	</div>
      <% when 'validation' %>
	<div class="page-header">
	  <h1>Validation</h1>
	</div>
      <% end 
    elsif params[:q] %>
      <div class="page-header">
	<h1>Rechercher <small>Moteur de recherche n°1 pour les vannes françaises</small></h1>
      </div>
    <% end %>

<% @vannes.each do |vanne| %>
  <%= render :partial => 'vanne', :locals => {:vanne => vanne} %>
<% end %>

<% if @vannes_count > (params[:page].to_i + 1) * 10 %>
<div id="plus_vannes" style="text-align:center">
  <%= link_to 'Encore plus de vannes ...', vannes_path(:order => params[:order], :page => params[:page].to_i + 1), :remote => true, :class => "btn btn-large" %>
</div>
<% end %>