<div class="page-header">
  <h1>Une nouvelle vanne ?</h1>
</div>

<p>
  Je suis sûr que tu as une nouvelle vanne à partager. Si oui, poste-la vite avant qu'un autre vanneur ne te devance !
</p>

<%= render 'form' %>
