<div id="main_frame">

<h1>Feedbacks</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Membre</th>
    <th>Message</th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <% if feedback.lu %>
  <tr>
  <% else %>
  <tr style="background-color:rgb(200,200,200)">
  <% end %>
    <td><%= feedback.email %></td>
    <td><% if feedback.membre_id %><%= link_to feedback.membre.pseudo, membre_path(feedback.membre) %><% end %></td>
    <td><%= link_to truncate(feedback.message, :length => 60, :omission => "..."), feedback %></td>
    <td><%= link_to 'Supprimer', feedback, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>