<div id="main_frame">
  <h2>Contact</h2>
  
  <p>
    Rien n'est parfait, même <em>C'est un mec</em>. Si jamais tu as une question, une suggestion, une remarque, une déclaration d'amour à nous faire, remplis le formulaire ci-dessous et nous essaierons de te répondre dès que possible.
  </p>

  <%= render 'form' %>

</div>