<div id="main_frame">
  <h2>Suivez-nous</h2>
  
  <p>
    Envie de nous suivre en direct depuis les meilleurs réseaux sociaux du moment ? C'est possible !
  </p>
  
  

  <div style="float:left; margin-right: 10px;">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
      new TWTR.Widget({
	version: 2,
	type: 'profile',
	rpp: 3,
	interval: 30000,
	width: 250,
	height: 300,
	theme: {
	  shell: {
	    background: '#3c280a',
	    color: '#fafac8'
	  },
	  tweets: {
	    background: '#000000',
	    color: '#fafac8',
	    links: '#bd9037'
	  }
	},
	features: {
	  scrollbar: false,
	  loop: false,
	  live: false,
	  behavior: 'all'
	}
      }).render().setUser('cestunmec').start();
    </script>
  </div>


  <h3>Twitter</h3>
  
  <p>
    Retrouvez les meilleures vannes ainsi que des informations exclusives sur le développement de <em>C'est un mec</em>.
  </p>
  
  <p>
    <a href="https://twitter.com/cestunmec" class="twitter-follow-button" data-show-count="true" data-lang="fr" data-size="large" data-align="center">Follow @cestunmec</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
  
  
  
  <div style="clear:both"></div>
  
  <h3>Facebook</h3>
  
  <p>
    Coming soon ...
  </p>
  
  
  <h3>Flux RSS</h3>
  
  <p>
    Tu suis déjà tous tes sites préférés sur Google Reader ou un autre agrégateur RSS ? Alors il est grand temps d'ajouter le flux RSS de <em>C'est un mec</em> pour recevoir toutes les vannes postées en direct !!<br />
    <%= link_to image_tag("rss-color.png", :style => "margin-right:5px"), vannes_path(:format => :rss) %>
    <strong><%= vannes_url(:format => :rss) %></strong>
  </p>
 

</div>