<div id="main_frame">
  <h2>Personne ne parle de nous :(</h2>
  
  <p>
    Mais si vous voulez parler de <em>C'est un mec</em>, n'hésitez pas à <%= link_to 'nous contacter', new_feedback_url %> !!
  </p>
</div>