#notice {
  color: green; 
}

.field_with_errors input, .field_with_errors textarea {
  background-color: rgb(255,150,150);
}

#error_explanation {
  width: 70%;
  margin-left: 15%;
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square;
    text-align: justify;
    padding-right: 20px;
  } 
}
