// Place all the styles related to the vannes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  background: -webkit-gradient(linear,left top, left bottom, from(rgba(255,255,200,1)), to(rgba(255,255,245,1)));
  background: -webkit-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,245,1) );
  background: -moz-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,245,1));
  background: -o-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,245,1) );
  background: linear-gradient(top,rgba(255,255,200,1),rgba(255,255,245,1) );
  
  width: 70%;
  border-radius: 10px;
  margin-left: 13%;
  margin-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS";
}


article aside {
  float: right;
  margin-top: 5px;
}


article footer {
  margin-top: 10px;
  font-size: 15px;
  font-family: Verdana;
}


#new_vanne_scroll {
  background: -webkit-gradient(linear,left top, left bottom, from(rgba(255,255,200,1)), to(rgba(255,255,235,1)));
  background: -webkit-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,235,1) );
  background: -moz-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,235,1));
  background: -o-linear-gradient(top,rgba(255,255,200,1),rgba(255,255,235,1) );
  background: linear-gradient(top,rgba(255,255,200,1),rgba(255,255,235,1) );
  
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-bottom: 20px;
  
  text-align: center;
  color: black;
}

#new_vanne_scroll h2 a {
  color: black;
  margin-bottom: 0px;
}


#new_vanne_scroll_hidden {
  margin-top: 10px;
  display: none;
}


#plus_vannes_scroll {
  text-align: center;
}
#plus_vannes_scroll a {
  color: rgb(220,220,170);
}
#plus_vannes_scroll a:hover {
  text-shadow: 1px 1px 3px rgb(100,100,50);
}