// Place all the styles related to the vannes controller here.
// They will automatically be included in application.css.

@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.social-buttons {
  float: right;
  margin-left: 5px;
  text-align: right;
  
  .twitter-share-button, .fb-like {
    .opacity(10);
  }

}

.show-vanne {
  padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 80px;
}