<!DOCTYPE html>
<html>
<head>
  <title>C'est un mec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>C'est un mec</h1>
<p>il s'appelle On, et il a un phare, c'est le Pharaon !</p>

<hr />

<%= yield %>

</body>
</html>
